.product-card {
    margin-bottom: 1.4em;
}

.product-item {
    min-height: 300px;
}

.product-card-image {
    min-height: 154px;
    max-height: 154px;
    overflow: hidden;
}

.product-item > * {
    color: white;
}

.product-link {
    text-decoration: none;
}

.product-link:hover {
    text-decoration: underline;
    color: white;
}

.product-image {
    width: 100%;
    vertical-align: center;
}