.ProductCard {
    margin-bottom: 1.4em;
}

.product-card {
    min-height: 300px;
}

.product-card > * {
    color: white;
}

.product-link {
    text-decoration: none;
}

.product-link:hover {
    text-decoration: underline;
    color: white;
}

.product-image {
    width: 100%;
}